@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    /* background: url(../public/background.jpeg) center no-repeat; */
    background-color: rgb(255, 255, 255);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

.bg-login {
    background-image: url("../public/img/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}